.pricingCardDiv{
    border: 1px solid white;
    padding: 50px ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    @include largeScreen{
        max-width: 300px;
    }
    span{
        text-align: center;
        font-size: 18px;
    }

    .pricingCardList{
        margin-top: 15px;

        ul{
            li{
                display: flex;
                gap: 10px;
                align-items: center;
                margin-bottom: 10px;
            }
        }

        
    }
}