nav {
    background-color: $secondary;
    color: white;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 4rem;

        @include smallScreen {
            padding: 10px 25px;
        }

        .nav_logo{
            img{
                width: 80%;
            }
        }
        .nav_links {
            ul {
                display: flex;
                gap: 20px;
                li {
                    cursor: pointer;
                }
                :hover {
                    color: $accent;
                    // border-bottom: 1px solid $accent;
                    // transition: all .5s;
                }
            }

            @include bigScreen {
                display: none;
            }
        }

        .nav_button {
            display: flex;
            align-items: center;
            gap: 25px;
            .login_btn {
                background: transparent;
                color: white;
                font-size: 16px;
                @include bigScreen {
                    display: none;
                }
            }
            .getStarted_btn {
                background-color: $accent;
                color: white;
                padding: 10px;
                border-radius: 10px;
                font-size: 16px;

                @include mediumScreen {
                    display: none;
                }
            }
            .mobilemenu {
                width: 28px;
                @media (min-width: 1200px) {
                    display: none;
                }
            }
        }
    }

    .mobile_navbar{
        background-color: $secondary;
        color: white;
        width: 100%;
        position: fixed;
        z-index: 2;
        
        ul{
            
           border-top: 1px solid white;
            li{
                cursor: pointer;
                text-align: center;
                width: 100%;
                padding: 15px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                transition: background-color .1s;
            
            } :hover{
                background-color: $accent;
            }
           
        }

        .login_btn{
            border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        }
        button{
            width: 100%;
            background-color: $accent;
            color: white;
            padding: 15px;
            font-size: 16px;

        }
    }
}



a:link {
    color: white;
}
a:visited {
    color: white;
}

a:active {
    color: $accent;
}
