.myDesignSection{
    .tabs-container{
        margin-top: 40px;
        .tab-heading{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 30px;
            margin-bottom: 50px;
           
            button{
                background-color: transparent;
                border: 1px solid $accent;
                color: white;
                padding: 15px 20px;
                border-radius: 10px;
            }
            button.active{
                background-color: $accent;
            }
        }
        .tab_content_div{
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: center;
            .tab-content{
                width: 30%;
            }
        
            @include mediumScreen{
                min-height: 100vh;
            }
                
            
        }
        
    }
}