.footer_Section{
    background-color:$secondary;
    padding: 30px 100px;
    color: white;
    display: flex;

    @include largeScreen{
        padding: 30px 50px;
    }
    @include mediumScreen{
        flex-direction: column;
        gap: 30px;
    }

    .footer_left{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        @include mediumScreen{
            width: 90%;
            margin: auto;
            align-items: center;
        }

        img{
            width: 40%;

        }
        p{
            max-width: 70%;
            @include mediumScreen{
                max-width: 100%;
                text-align: center;
            }

        }
        .footer_social_link{
            display: flex;
            gap: 10px;
            img{
                cursor: pointer
                ;
                width:35px;
            }
        }
    }
    .footer_right{
        width: 60%;
        display: flex;
        justify-content: space-around;
        @include mediumScreen{
            width: 90%;
            justify-content: space-between;
        }
        @include smallScreen{
            width: 100%;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
            h5{
                font-size: 18px;
                margin-bottom: 20px;
            }
            ul{
                li{
                    cursor: pointer;
                    margin-bottom: 10px;
                   
                } :hover{
                    color: $accent;
                }
            }
    }
}

.copyright_div{
    background-color: $primary;
    color: white;
    text-align: center;
    padding: 20px 0px;

    h5{
        font-size: 18px;
        font-weight: 400;
    }
}

