* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth !important;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

.bannerCardDiv {
  background-color: #43484B;
  text-align: center;
  padding: 25px 15px;
  border-radius: 10px;
  max-width: 270px;
}

.HowItWorkCardDiv {
  width: 250px;
  border: 1px solid white;
  padding: 17px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
}
.HowItWorkCardDiv span {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricingCardDiv {
  border: 1px solid white;
  padding: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .pricingCardDiv {
    max-width: 300px;
    padding: 30px;
  }
}
.pricingCardDiv span {
  text-align: center;
  font-size: 18px;
}
.pricingCardDiv .pricingCardList {
  margin-top: 15px;
}
.pricingCardDiv .pricingCardList ul li {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.accordion .accordion-item {
  background-color: #576072;
  border-radius: 15px;
  padding: 20px 50px;
}
.accordion .accordion-item .accordion-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.accordion .accordion-item .accordion-content {
  color: #C79952;
}

.tryDesignFormDiv {
  background-color: #43484B;
}
.tryDesignFormDiv form .tryDesignFile {
  display: flex;
  flex-direction: column;
  border: 1px dashed #C79952;
  padding: 50px;
  border-radius: 10px;
  position: relative;
}
.tryDesignFormDiv form .tryDesignFile span {
  display: flex;
  gap: 10px;
}
.tryDesignFormDiv form .tryDesignFile input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
.tryDesignFormDiv form .selectOptionDiv {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.tryDesignFormDiv form .selectOptionDiv label {
  margin-bottom: 7px;
}
.tryDesignFormDiv form .selectOptionDiv .custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 15px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  background-color: #576072;
  background-image: url('data:image/svg+xml;utf8,<svg width="10" height="18"  viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 1.80249L9 9.30249L1.5 16.8025" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  cursor: pointer;
  color: white;
  margin-bottom: 20px;
}
.tryDesignFormDiv form .selectOptionDiv .custom-select option {
  padding: 20px 40px;
}
.tryDesignFormDiv form .selectOptionDiv .custom-select :hover {
  background-color: #C79952;
}
.tryDesignFormDiv form .selectOptionDiv :focus {
  outline: none;
}
.tryDesignFormDiv form .selectOptionDiv .intervation_radio {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.tryDesignFormDiv form .selectOptionDiv .intervation_radio::after {
  content: "";
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  width: 85%;
  background-color: white;
}
.tryDesignFormDiv form .selectOptionDiv .intervation_radio div {
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.tryDesignFormDiv form .selectOptionDiv .intervation_radio div input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 23px;
  height: 23px;
  border: 2px solid #C79952;
  border-radius: 50%;
  cursor: pointer;
  background-color: #43484B;
}
.tryDesignFormDiv form .selectOptionDiv .intervation_radio div input:checked {
  background-color: #C79952;
}
.tryDesignFormDiv form .selectOptionDiv .intervation_radio div:last-child::after {
  display: none;
}
.tryDesignFormDiv form .selectOptionDiv .customAiIntervationForm {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.tryDesignFormDiv form .selectOptionDiv .customAiIntervationForm .customAiIntervationLabel {
  display: flex;
  gap: 15px;
}
.tryDesignFormDiv form .selectOptionDiv .customAiIntervationForm .customAiIntervationLabel input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #C79952;
  cursor: pointer;
  position: relative;
}
.tryDesignFormDiv form .selectOptionDiv .customAiIntervationForm .customAiIntervationLabel input[type=checkbox]:checked {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23C79952" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6L9 17l-5-5"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.tryDesignFormDiv form .selectOptionDiv .customAiIntervationForm textarea {
  background-color: #576072;
  border: none;
  border-radius: 10px;
  resize: none;
  color: white;
  padding: 10px;
}
.tryDesignFormDiv form .selectOptionDiv .customAiIntervationForm ::-moz-placeholder {
  color: rgb(255, 255, 255) !important;
}
.tryDesignFormDiv form .selectOptionDiv .customAiIntervationForm ::placeholder {
  color: rgb(255, 255, 255) !important;
}
.tryDesignFormDiv form button {
  margin-top: 25px;
  width: 100%;
}

.primary_btn {
  background-color: #C79952;
  color: white;
  padding: 15px 0px;
  border-radius: 10px;
  font-size: 17px;
}

.ModalContainer .loginModalOverlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: scroll;
  z-index: 3;
}
.ModalContainer .loginModalOverlay .LoginModalContainer {
  background-color: white;
  border-radius: 30px;
  width: 85%;
  background-color: #43484B;
  margin: auto;
}
.ModalContainer .loginModalOverlay .LoginModalContainer .closeIcon {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-right: 20px;
}
.ModalContainer .loginModalOverlay .LoginModalContainer .closeIcon img {
  cursor: pointer;
  width: 30px;
}
.ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv {
  display: flex;
  width: 85%;
  margin: auto;
  padding-bottom: 15px;
}
.ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv .LoginLeftDiv {
  flex: 1;
  display: flex;
  align-items: center;
}
.ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv .LoginLeftDiv img {
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media (max-width: 768px) {
  .ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv .LoginLeftDiv {
    display: none;
  }
}
.ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv .LoginRightDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media (max-width: 768px) {
  .ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv .LoginRightDiv {
    width: 90%;
    justify-content: center;
    margin: auto;
  }
}
.ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv .LoginRightDiv .loginLogo {
  text-align: center;
  margin-bottom: 40px;
}
.ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv .LoginRightDiv .loginLogo img {
  width: 40%;
}
.ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv .LoginRightDiv .LoginForm {
  margin-top: 20px;
  margin-bottom: 20px;
}
.ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv .LoginRightDiv .LoginForm form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv .LoginRightDiv .LoginForm form input {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  outline: none;
  background: transparent;
  width: 100%;
}
.ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv .LoginRightDiv .LoginForm form .passwordField {
  position: relative;
}
.ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv .LoginRightDiv .LoginForm form .eyeIcon {
  right: 12px;
  top: 10px;
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv .LoginRightDiv .LoginForm form span {
  text-align: right;
  cursor: pointer;
}
.ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv .LoginRightDiv .LoginForm form button {
  width: 100%;
}
.ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv .LoginRightDiv .loginTextCenter {
  display: flex;
  justify-content: center;
}
.ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv .LoginRightDiv .loginTextCenter span {
  margin-left: 5px;
  cursor: pointer;
}
.ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv .LoginRightDiv .socialLogin {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.ModalContainer .loginModalOverlay .LoginModalContainer .loginModalDiv .LoginRightDiv .socialLogin img {
  max-width: 40%;
  cursor: pointer;
}
.ModalContainer .loginModalOverlay ::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.legalModalContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: scroll;
  z-index: 3;
}
.legalModalContainer .legalModalDiv {
  background-color: white;
  border-radius: 30px;
  width: 75%;
  background-color: #43484B;
  padding: 50px;
  margin: auto;
}
@media (max-width: 992px) {
  .legalModalContainer .legalModalDiv {
    width: 90%;
    padding: 25px;
  }
}
.legalModalContainer .legalModalDiv .modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.legalModalContainer .legalModalDiv .modalHeader img {
  cursor: pointer;
}
.legalModalContainer .legalModalDiv .modalText p {
  margin: 15px 0px;
  text-align: justify;
}

.dash_CustomDesign .dash_CustomDesignForm {
  margin-top: 40px;
}
.dash_CustomDesign .dash_CustomDesignForm .dash_CustomDesginFirst {
  display: flex;
  gap: 30px;
}
@media (max-width: 768px) {
  .dash_CustomDesign .dash_CustomDesignForm .dash_CustomDesginFirst {
    flex-direction: column;
  }
}
.dash_CustomDesign .dash_CustomDesignForm .dash_CustomDesginFirst div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: calc(33.33% - 20px);
}
@media (max-width: 1200px) {
  .dash_CustomDesign .dash_CustomDesignForm .dash_CustomDesginFirst div {
    flex-basis: calc(50% - 20px);
  }
}
.dash_CustomDesign .dash_CustomDesignForm .dash_CustomDesginFirst div textarea {
  background-color: #43484B;
  border: none;
  border-radius: 10px;
  resize: none;
  color: white;
  padding: 10px;
}
.dash_CustomDesign .dash_CustomDesignForm .dash_CustomDesginFirst div ::-moz-placeholder {
  color: rgb(255, 255, 255) !important;
}
.dash_CustomDesign .dash_CustomDesignForm .dash_CustomDesginFirst div ::placeholder {
  color: rgb(255, 255, 255) !important;
}
.dash_CustomDesign .dash_CustomDesignForm .dash_CustomDesginFirst div .dash_CustomDesign_exam_btn {
  margin-top: 22px;
}
.dash_CustomDesign .dash_CustomDesignForm .dash_CustomDesginFirst div .dash_CustomDesign_exam_btn button {
  background: #43484B;
  color: white;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dash_CustomDesign .dash_CustomDesignForm .dash_CustomDesginFirst div .dash_customDesign_exam p {
  border-radius: 10px;
  background: #43484B;
  color: white;
  padding: 15px;
}
.dash_CustomDesign .dash_CustomDesignForm .ExteriorDesignFileDiv {
  display: flex;
  width: 70%;
  margin: 40px auto;
  height: 350px;
}
@media (max-width: 1200px) {
  .dash_CustomDesign .dash_CustomDesignForm .ExteriorDesignFileDiv {
    width: 90%;
  }
}
@media (max-width: 992px) {
  .dash_CustomDesign .dash_CustomDesignForm .ExteriorDesignFileDiv {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .dash_CustomDesign .dash_CustomDesignForm .ExteriorDesignFileDiv {
    flex-direction: column;
    height: 700px;
    width: 100%;
  }
}
.dash_CustomDesign .dash_CustomDesignForm .ExteriorDesignFileDiv .ExteriorDesignFile {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  position: relative;
  background-color: #43484B;
}
.dash_CustomDesign .dash_CustomDesignForm .ExteriorDesignFileDiv .ExteriorDesignFile span {
  display: flex;
  gap: 10px;
}
.dash_CustomDesign .dash_CustomDesignForm .ExteriorDesignFileDiv .ExteriorDesignFile span svg {
  min-width: 30px;
}
.dash_CustomDesign .dash_CustomDesignForm .ExteriorDesignFileDiv .ExteriorDesignFile input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
@media (max-width: 768px) {
  .dash_CustomDesign .dash_CustomDesignForm .ExteriorDesignFileDiv .ExteriorDesignFile {
    width: 100%;
    height: 50%;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
  }
}
.dash_CustomDesign .dash_CustomDesignForm .ExteriorDesignFileDiv .ExteriorDesignFileImg {
  width: 50%;
  background: #6A7074;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .dash_CustomDesign .dash_CustomDesignForm .ExteriorDesignFileDiv .ExteriorDesignFileImg {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
    height: 50%;
  }
}
.dash_CustomDesign .dash_CustomDesignForm .ExteriorDesignBtn {
  display: flex;
  justify-content: center;
}
.dash_CustomDesign .dash_CustomDesignForm .ExteriorDesignBtn button {
  padding: 16px 60px;
}
@media (max-width: 768px) {
  .dash_CustomDesign .dash_CustomDesignForm .ExteriorDesignBtn {
    margin-bottom: 150px;
  }
}

.dash_ExteriorDesign .dash_ExteriorDesignForm {
  margin-top: 40px;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignFirst,
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignSecond {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignFirst,
  .dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignSecond {
    flex-direction: column;
  }
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignFirst div,
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignSecond div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  flex-basis: calc(33.33% - 20px);
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignFirst div .custom-select,
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignSecond div .custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 15px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  background-color: #43484B;
  background-image: url('data:image/svg+xml;utf8,<svg width="10" height="18"  viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 1.80249L9 9.30249L1.5 16.8025" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  cursor: pointer;
  color: white;
  margin-bottom: 20px;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignFirst div .intervation_radio,
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignSecond div .intervation_radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  flex-wrap: nowrap;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignFirst div .intervation_radio::after,
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignSecond div .intervation_radio::after {
  content: "";
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  width: 80%;
  background-color: white;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignFirst div .intervation_radio div,
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignSecond div .intervation_radio div {
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignFirst div .intervation_radio div input,
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignSecond div .intervation_radio div input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 23px;
  height: 23px;
  border: 2px solid #C79952;
  border-radius: 50%;
  cursor: pointer;
  background-color: #43484B;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignFirst div .intervation_radio div input:checked,
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignSecond div .intervation_radio div input:checked {
  background-color: #C79952;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignFirst div .intervation_radio div:last-child::after,
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignSecond div .intervation_radio div:last-child::after {
  display: none;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignFirst .customAiIntervationForm,
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignSecond .customAiIntervationForm {
  flex-wrap: nowrap;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignFirst .customAiIntervationForm .customAiIntervationLabel,
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignSecond .customAiIntervationForm .customAiIntervationLabel {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignFirst .customAiIntervationForm .customAiIntervationLabel input[type=checkbox],
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignSecond .customAiIntervationForm .customAiIntervationLabel input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #C79952;
  cursor: pointer;
  position: relative;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignFirst .customAiIntervationForm .customAiIntervationLabel input[type=checkbox]:checked,
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignSecond .customAiIntervationForm .customAiIntervationLabel input[type=checkbox]:checked {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23C79952" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6L9 17l-5-5"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignFirst .customAiIntervationForm textarea,
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignSecond .customAiIntervationForm textarea {
  background-color: #576072;
  border: none;
  border-radius: 10px;
  resize: none;
  color: white;
  padding: 10px;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignFirst .customAiIntervationForm ::-moz-placeholder, .dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignSecond .customAiIntervationForm ::-moz-placeholder {
  color: rgb(255, 255, 255) !important;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignFirst .customAiIntervationForm ::placeholder,
.dash_ExteriorDesign .dash_ExteriorDesignForm .dash_ExteriorDesignSecond .customAiIntervationForm ::placeholder {
  color: rgb(255, 255, 255) !important;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .ExteriorDesignFileDiv {
  display: flex;
  width: 70%;
  margin: 40px auto;
  height: 350px;
}
@media (max-width: 1200px) {
  .dash_ExteriorDesign .dash_ExteriorDesignForm .ExteriorDesignFileDiv {
    width: 90%;
  }
}
@media (max-width: 992px) {
  .dash_ExteriorDesign .dash_ExteriorDesignForm .ExteriorDesignFileDiv {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .dash_ExteriorDesign .dash_ExteriorDesignForm .ExteriorDesignFileDiv {
    flex-direction: column;
    height: 700px;
    width: 100%;
  }
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .ExteriorDesignFileDiv .ExteriorDesignFile {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  position: relative;
  background-color: #43484B;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .ExteriorDesignFileDiv .ExteriorDesignFile span {
  display: flex;
  gap: 10px;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .ExteriorDesignFileDiv .ExteriorDesignFile span svg {
  min-width: 30px;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .ExteriorDesignFileDiv .ExteriorDesignFile input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
@media (max-width: 768px) {
  .dash_ExteriorDesign .dash_ExteriorDesignForm .ExteriorDesignFileDiv .ExteriorDesignFile {
    width: 100%;
    height: 50%;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
  }
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .ExteriorDesignFileDiv .ExteriorDesignFileImg {
  width: 50%;
  background: #6A7074;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .dash_ExteriorDesign .dash_ExteriorDesignForm .ExteriorDesignFileDiv .ExteriorDesignFileImg {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
    height: 50%;
  }
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .ExteriorDesignBtn {
  display: flex;
  justify-content: center;
}
.dash_ExteriorDesign .dash_ExteriorDesignForm .ExteriorDesignBtn button {
  padding: 16px 60px;
}
@media (max-width: 768px) {
  .dash_ExteriorDesign .dash_ExteriorDesignForm .ExteriorDesignBtn {
    margin-bottom: 150px;
  }
}

.dash_InteriorDesign .dash_interiorDesignForm {
  margin-top: 40px;
}
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignFirst,
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignSecond {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignFirst,
  .dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignSecond {
    flex-direction: column;
  }
}
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignFirst div,
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignSecond div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  flex-basis: calc(33.33% - 20px);
}
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignFirst div .custom-select,
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignSecond div .custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 15px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  background-color: #43484B;
  background-image: url('data:image/svg+xml;utf8,<svg width="10" height="18"  viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 1.80249L9 9.30249L1.5 16.8025" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  cursor: pointer;
  color: white;
  margin-bottom: 20px;
}
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignFirst div .intervation_radio,
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignSecond div .intervation_radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  flex-wrap: nowrap;
}
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignFirst div .intervation_radio::after,
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignSecond div .intervation_radio::after {
  content: "";
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  width: 80%;
  background-color: white;
}
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignFirst div .intervation_radio div,
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignSecond div .intervation_radio div {
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignFirst div .intervation_radio div input,
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignSecond div .intervation_radio div input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 23px;
  height: 23px;
  border: 2px solid #C79952;
  border-radius: 50%;
  cursor: pointer;
  background-color: #43484B;
}
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignFirst div .intervation_radio div input:checked,
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignSecond div .intervation_radio div input:checked {
  background-color: #C79952;
}
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignFirst div .intervation_radio div:last-child::after,
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignSecond div .intervation_radio div:last-child::after {
  display: none;
}
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignThird {
  display: flex;
  justify-content: space-between;
}
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignThird .customAiIntervationForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  flex-basis: calc(33.33% - 20px);
}
@media (max-width: 992px) {
  .dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignThird .customAiIntervationForm {
    flex-basis: 100%;
  }
}
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignThird .customAiIntervationForm .customAiIntervationLabel {
  display: flex;
  gap: 15px;
}
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignThird .customAiIntervationForm .customAiIntervationLabel input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #C79952;
  cursor: pointer;
  position: relative;
}
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignThird .customAiIntervationForm .customAiIntervationLabel input[type=checkbox]:checked {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23C79952" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6L9 17l-5-5"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignThird .customAiIntervationForm textarea {
  background-color: #576072;
  border: none;
  border-radius: 10px;
  resize: none;
  color: white;
  padding: 10px;
}
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignThird .customAiIntervationForm ::-moz-placeholder {
  color: rgb(255, 255, 255) !important;
}
.dash_InteriorDesign .dash_interiorDesignForm .dash_interiorDesignThird .customAiIntervationForm ::placeholder {
  color: rgb(255, 255, 255) !important;
}
.dash_InteriorDesign .dash_interiorDesignForm .interiorDesignFileDiv {
  display: flex;
  width: 70%;
  margin: 40px auto;
  height: 350px;
}
@media (max-width: 1200px) {
  .dash_InteriorDesign .dash_interiorDesignForm .interiorDesignFileDiv {
    width: 90%;
  }
}
@media (max-width: 992px) {
  .dash_InteriorDesign .dash_interiorDesignForm .interiorDesignFileDiv {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .dash_InteriorDesign .dash_interiorDesignForm .interiorDesignFileDiv {
    flex-direction: column;
    height: 700px;
    width: 100%;
  }
}
.dash_InteriorDesign .dash_interiorDesignForm .interiorDesignFileDiv .interiorDesignFile {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  position: relative;
  background-color: #43484B;
}
.dash_InteriorDesign .dash_interiorDesignForm .interiorDesignFileDiv .interiorDesignFile span {
  display: flex;
  gap: 10px;
}
.dash_InteriorDesign .dash_interiorDesignForm .interiorDesignFileDiv .interiorDesignFile span svg {
  min-width: 30px;
}
.dash_InteriorDesign .dash_interiorDesignForm .interiorDesignFileDiv .interiorDesignFile input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
@media (max-width: 768px) {
  .dash_InteriorDesign .dash_interiorDesignForm .interiorDesignFileDiv .interiorDesignFile {
    width: 100%;
    height: 50%;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
  }
}
.dash_InteriorDesign .dash_interiorDesignForm .interiorDesignFileDiv .interiorDesignFileImg {
  width: 50%;
  background: #6A7074;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .dash_InteriorDesign .dash_interiorDesignForm .interiorDesignFileDiv .interiorDesignFileImg {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
    height: 50%;
  }
}
.dash_InteriorDesign .dash_interiorDesignForm .InteriorDesignBtn {
  display: flex;
  justify-content: center;
}
.dash_InteriorDesign .dash_interiorDesignForm .InteriorDesignBtn button {
  padding: 16px 60px;
}
@media (max-width: 768px) {
  .dash_InteriorDesign .dash_interiorDesignForm .InteriorDesignBtn {
    margin-bottom: 150px;
  }
}

.myDesignSection .tabs-container {
  margin-top: 40px;
}
.myDesignSection .tabs-container .tab-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
.myDesignSection .tabs-container .tab-heading button {
  background-color: transparent;
  border: 1px solid #C79952;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
}
.myDesignSection .tabs-container .tab-heading button.active {
  background-color: #C79952;
}
.myDesignSection .tabs-container .tab_content_div {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.myDesignSection .tabs-container .tab_content_div .tab-content {
  width: 30%;
}
@media (max-width: 768px) {
  .myDesignSection .tabs-container .tab_content_div {
    min-height: 100vh;
  }
}

.dash_pricing_section .dash_pricing_bottom {
  margin-top: 100px;
  display: flex;
  gap: 4%;
}
@media (max-width: 1200px) {
  .dash_pricing_section .dash_pricing_bottom {
    transform: scale(0.9);
    gap: 5%;
  }
}
@media (max-width: 992px) {
  .dash_pricing_section .dash_pricing_bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .dash_pricing_section .dash_pricing_bottom {
    margin-bottom: 100px;
  }
}
.dash_pricing_section .dash_pricing_bottom > *:nth-child(2) {
  transform: scale(1.2);
}
@media (max-width: 992px) {
  .dash_pricing_section .dash_pricing_bottom > *:nth-child(2) {
    transform: scale(1);
  }
}

.footer_Section {
  background-color: #43484B;
  padding: 30px 100px;
  color: white;
  display: flex;
}
@media (max-width: 992px) {
  .footer_Section {
    padding: 30px 50px;
  }
}
@media (max-width: 768px) {
  .footer_Section {
    flex-direction: column;
    gap: 30px;
  }
}
.footer_Section .footer_left {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 768px) {
  .footer_Section .footer_left {
    width: 90%;
    margin: auto;
    align-items: center;
  }
}
.footer_Section .footer_left img {
  width: 40%;
}
.footer_Section .footer_left p {
  max-width: 70%;
}
@media (max-width: 768px) {
  .footer_Section .footer_left p {
    max-width: 100%;
    text-align: center;
  }
}
.footer_Section .footer_left .footer_social_link {
  display: flex;
  gap: 10px;
}
.footer_Section .footer_left .footer_social_link img {
  cursor: pointer;
  width: 35px;
}
.footer_Section .footer_right {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .footer_Section .footer_right {
    width: 90%;
    justify-content: space-between;
  }
}
@media (max-width: 576px) {
  .footer_Section .footer_right {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer_Section .footer_right h5 {
  font-size: 18px;
  margin-bottom: 20px;
}
.footer_Section .footer_right ul li {
  cursor: pointer;
  margin-bottom: 10px;
}
.footer_Section .footer_right ul li:hover {
  color: #C79952;
}

.copyright_div {
  background-color: #343A45;
  color: white;
  text-align: center;
  padding: 20px 0px;
}
.copyright_div h5 {
  font-size: 18px;
  font-weight: 400;
}

nav {
  background-color: #43484B;
  color: white;
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4rem;
}
@media (max-width: 576px) {
  nav .navbar {
    padding: 10px 25px;
  }
}
nav .navbar .nav_logo img {
  width: 80%;
}
nav .navbar .nav_links ul {
  display: flex;
  gap: 20px;
}
nav .navbar .nav_links ul li {
  cursor: pointer;
}
nav .navbar .nav_links ul :hover {
  color: #C79952;
}
@media (max-width: 1200px) {
  nav .navbar .nav_links {
    display: none;
  }
}
nav .navbar .nav_button {
  display: flex;
  align-items: center;
  gap: 25px;
}
nav .navbar .nav_button .login_btn {
  background: transparent;
  color: white;
  font-size: 16px;
}
@media (max-width: 1200px) {
  nav .navbar .nav_button .login_btn {
    display: none;
  }
}
nav .navbar .nav_button .getStarted_btn {
  background-color: #C79952;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
}
@media (max-width: 768px) {
  nav .navbar .nav_button .getStarted_btn {
    display: none;
  }
}
nav .navbar .nav_button .mobilemenu {
  width: 28px;
}
@media (min-width: 1200px) {
  nav .navbar .nav_button .mobilemenu {
    display: none;
  }
}
nav .mobile_navbar {
  background-color: #43484B;
  color: white;
  width: 100%;
  z-index: 2;
}
nav .mobile_navbar ul {
  border-top: 1px solid white;
}
nav .mobile_navbar ul li {
  cursor: pointer;
  text-align: center;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: background-color 0.1s;
}
nav .mobile_navbar ul :hover {
  background-color: #C79952;
}
nav .mobile_navbar .login_btn {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
nav .mobile_navbar button {
  width: 100%;
  background-color: #C79952;
  color: white;
  padding: 15px;
  font-size: 16px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: #C79952;
}

.main_banner {
  background: url("../public/banner.png");
  background-repeat: no-repeat;
  background-size: 100% 120%;
  color: white;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .main_banner {
    background-size: cover;
    background-position: 40%;
  }
}
.main_banner .main_banner_div {
  display: flex;
  gap: 10px;
  min-height: 100vh;
}
@media (max-width: 992px) {
  .main_banner .main_banner_div {
    flex-direction: column;
  }
}
.main_banner .main_banner_div .banner_left {
  background-color: rgba(0, 0, 0, 0.4);
  width: 35%;
}
@media (max-width: 992px) {
  .main_banner .main_banner_div .banner_left {
    width: 100%;
  }
}
.main_banner .main_banner_div .banner_left .banner_left_text {
  margin-top: 15%;
  padding-left: 4rem;
  margin-bottom: 5%;
  padding-right: 10px;
}
.main_banner .main_banner_div .banner_left .banner_left_text h1 {
  font-size: clamp(1.9rem, 2.5vw, 4rem);
}
.main_banner .main_banner_div .banner_left .banner_left_text h1 .vector_img {
  position: relative;
}
.main_banner .main_banner_div .banner_left .banner_left_text h1 .vector_img .vector_icon {
  width: 100%;
  height: 18px;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.main_banner .main_banner_div .banner_left .banner_left_text h1 span {
  color: #C79952;
}
@media (max-width: 992px) {
  .main_banner .main_banner_div .banner_left .banner_left_text {
    margin-top: 5%;
  }
}
@media (max-width: 576px) {
  .main_banner .main_banner_div .banner_left .banner_left_text {
    padding-left: 25px;
  }
}
.main_banner .main_banner_div .banner_left .banner_left_text .banner_left_btn {
  display: flex;
  gap: 25px;
  margin-top: 30px;
}
.main_banner .main_banner_div .banner_left .banner_left_text .banner_left_btn .tryBtn {
  background-color: #C79952;
  color: white;
  padding: 12px 17px;
  border-radius: 10px;
  font-size: 17px;
}
.main_banner .main_banner_div .banner_left .banner_left_text .banner_left_btn .tryBtn span {
  color: black;
}
.main_banner .main_banner_div .banner_left .banner_left_text .banner_left_btn .watchBtn {
  background: transparent;
  display: flex;
  gap: 10px;
  align-items: center;
  color: white;
  font-size: 17px;
  text-decoration: underline;
}
.main_banner .main_banner_div .banner_right {
  width: 65%;
  position: relative;
}
@media (max-width: 992px) {
  .main_banner .main_banner_div .banner_right {
    width: 80%;
    margin: auto;
  }
}
.main_banner .main_banner_div .banner_right .banner_right_div {
  position: absolute;
  bottom: 15%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  left: 0;
  right: 0;
}
@media (max-width: 1200px) {
  .main_banner .main_banner_div .banner_right .banner_right_div {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .main_banner .main_banner_div .banner_right .banner_right_div {
    position: static;
  }
}
.main_banner .main_banner_div .banner_right .banner_right_div > *:nth-child(2) {
  background-color: #C79952;
}

.HowItWorkDiv {
  padding: 70px 70px;
  background-color: #43484B;
  color: white;
}
.HowItWorkDiv h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}
.HowItWorkDiv h2 span {
  color: #C79952;
}
.HowItWorkDiv .HowItWorkContainer {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .HowItWorkDiv .HowItWorkContainer {
    flex-direction: column;
    align-items: center;
  }
}
.HowItWorkDiv .HowItWorkContainer .HowItWork_left,
.HowItWorkDiv .HowItWorkContainer .HowItWork_right {
  margin-top: 50px;
}
.HowItWorkDiv .HowItWorkContainer .HowItWork_left .card_line,
.HowItWorkDiv .HowItWorkContainer .HowItWork_right .card_line {
  width: 70%;
  margin: 80px auto;
  opacity: 0.5;
}
@media (max-width: 1200px) {
  .HowItWorkDiv .HowItWorkContainer .HowItWork_left .card_line,
  .HowItWorkDiv .HowItWorkContainer .HowItWork_right .card_line {
    margin: 30px auto;
  }
}
@media (max-width: 1200px) {
  .HowItWorkDiv .HowItWorkContainer .HowItWork_right {
    margin-top: -40px;
  }
}
.HowItWorkDiv .HowItWorkContainer .HowItWork_Middle {
  margin-top: 20px;
}
.HowItWorkDiv .HowItWorkContainer .HowItWork_Middle img {
  min-width: 400px;
  max-width: 700px;
  width: 100%;
  height: 100%;
}

.DesignGridDiv {
  background-color: #343a45;
  color: white;
  padding: 40px 70px;
}
@media (max-width: 992px) {
  .DesignGridDiv {
    padding: 40px 28px;
  }
}
.DesignGridDiv h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 35px;
}
.DesignGridDiv h2 span {
  color: #C79952;
}
.DesignGridDiv .DesignGridLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}
@media (max-width: 768px) {
  .DesignGridDiv .DesignGridLayout {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .DesignGridDiv .DesignGridLayout {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 576px) {
  .DesignGridDiv .DesignGridLayout .grid_item1 {
    grid-row: span 2;
  }
}
.DesignGridDiv .DesignGridLayout .grid_item2 {
  grid-row: span 2;
}
.DesignGridDiv .DesignGridLayout .grid_item5 {
  grid-row: span 2;
}
.DesignGridDiv .DesignGridLayout .grid_item6 {
  grid-column: span 2;
}
@media (max-width: 768px) {
  .DesignGridDiv .DesignGridLayout .grid_item6 {
    grid-column: span 1;
  }
}
.DesignGridDiv .DesignGridLayout img {
  width: 100%;
  height: 100%;
}

.TryDesignDiv {
  background-color: #43484B;
  padding: 50px;
  color: white;
}
@media (max-width: 992px) {
  .TryDesignDiv {
    padding: 25px;
  }
}
.TryDesignDiv h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.TryDesignDiv h3 span {
  color: #C79952;
}
.TryDesignDiv .tabs-container .tab-heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}
.TryDesignDiv .tabs-container .tab-heading button {
  background-color: transparent;
  border: 1px solid #C79952;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
}
.TryDesignDiv .tabs-container .tab-heading button.active {
  background-color: #C79952;
}
.TryDesignDiv .tabs-container .tab_content_div {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 40px;
}
@media (max-width: 1200px) {
  .TryDesignDiv .tabs-container .tab_content_div {
    width: 95%;
  }
}
@media (max-width: 992px) {
  .TryDesignDiv .tabs-container .tab_content_div {
    flex-direction: column;
  }
}
.TryDesignDiv .tabs-container .tab_content_div .tab-content {
  width: 40%;
}
@media (max-width: 992px) {
  .TryDesignDiv .tabs-container .tab_content_div .tab-content {
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 576px) {
  .TryDesignDiv .tabs-container .tab_content_div .tab-content {
    width: 100%;
  }
}
.TryDesignDiv .tabs-container .tab_content_div .swiper {
  width: 60%;
  padding-bottom: 35px;
}
@media (max-width: 576px) {
  .TryDesignDiv .tabs-container .tab_content_div .swiper {
    width: 100%;
  }
}
.TryDesignDiv .tabs-container .tab_content_div .swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.TryDesignDiv .tabs-container .tab_content_div .swiper .swiper-slide img {
  width: 100%;
  max-width: 550px;
  max-height: 1000px;
}
.TryDesignDiv .tabs-container .tab_content_div .swiper .swiper-pagination-bullet {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
}

.feedback_div {
  background-color: #343a45;
  color: white;
  padding: 20px 70px;
}
.feedback_div h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}
.feedback_div h2 span {
  color: #C79952;
}
.feedback_div .swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
.feedback_div .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback_div .swiper .swiper-slide img {
  max-width: 350px;
  width: 100%;
}
.feedback_div .swiper .swiper-button-prev {
  width: 45px;
  height: 45px;
}
.feedback_div .swiper .swiper-button-prev::after {
  display: none;
}
.feedback_div .swiper .swiper-button-next {
  width: 45px;
  height: 45px;
}
.feedback_div .swiper .swiper-button-next::after {
  display: none;
}
.feedback_div .swiper .swiper-pagination-bullet {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
}

.downloadAppDiv {
  background-color: #343a45;
  padding: 20px 70px;
}
@media (max-width: 768px) {
  .downloadAppDiv {
    padding: 20px 20px;
  }
}
.downloadAppDiv .downloadAppInfo {
  background-color: white;
  display: flex;
  border-radius: 20px;
}
@media (max-width: 1200px) {
  .downloadAppDiv .downloadAppInfo {
    padding-bottom: 30px;
    flex-direction: column-reverse;
  }
}
.downloadAppDiv .downloadAppInfo .downloadAppText {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  gap: 25px;
}
@media (max-width: 1200px) {
  .downloadAppDiv .downloadAppInfo .downloadAppText {
    width: 80%;
    text-align: center;
    align-items: center;
    padding-left: 0;
    margin: auto;
  }
}
.downloadAppDiv .downloadAppInfo .downloadAppText h2 {
  max-width: 400px;
  font-size: 35px;
}
@media (max-width: 1200px) {
  .downloadAppDiv .downloadAppInfo .downloadAppText h2 {
    max-width: 100%;
  }
}
.downloadAppDiv .downloadAppInfo .downloadAppText .downloadBtn {
  display: flex;
  gap: 10px;
  width: 50%;
}
@media (max-width: 1200px) {
  .downloadAppDiv .downloadAppInfo .downloadAppText .downloadBtn {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .downloadAppDiv .downloadAppInfo .downloadAppText .downloadBtn {
    flex-direction: column;
  }
}
.downloadAppDiv .downloadAppInfo .downloadAppText .downloadBtn img {
  width: 100%;
  cursor: pointer;
}
@media (max-width: 576px) {
  .downloadAppDiv .downloadAppInfo .downloadAppText .downloadBtn img {
    width: 70%;
    margin: auto;
  }
}
.downloadAppDiv .downloadAppInfo .DownloadAppImg {
  width: 55%;
  display: flex;
  justify-content: center;
}
@media (max-width: 1200px) {
  .downloadAppDiv .downloadAppInfo .DownloadAppImg {
    width: 80%;
    margin: auto;
  }
}
.downloadAppDiv .downloadAppInfo .DownloadAppImg .mobileImgDiv {
  background-image: url("../public/downloadAppbg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.downloadAppDiv .downloadAppInfo .DownloadAppImg .mobileImgDiv img {
  width: 90%;
}

.pricing_section {
  background-color: #343a45;
  color: white;
  padding: 100px 0px;
}
.pricing_section .pricingDiv {
  width: 90%;
  margin: auto;
}
.pricing_section .pricingDiv .pricing_header {
  text-align: center;
  max-width: 50%;
  margin: auto;
}
@media (max-width: 1200px) {
  .pricing_section .pricingDiv .pricing_header {
    max-width: 100%;
  }
}
.pricing_section .pricingDiv .pricing_header h3 {
  font-size: 30px;
}
.pricing_section .pricingDiv .pricing_bottom {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 100px;
}
@media (max-width: 992px) {
  .pricing_section .pricingDiv .pricing_bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.pricing_section .pricingDiv .pricing_bottom > *:nth-child(2) {
  transform: scale(1.2);
}

.faqDiv {
  background-color: #43484B;
  color: white;
  padding: 60px 70px;
}
@media (max-width: 992px) {
  .faqDiv {
    padding: 60px 30px;
  }
}
.faqDiv h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.faqDiv h3 span {
  color: #C79952;
}
.faqDiv .faqList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 70%;
  margin: auto;
}
@media (max-width: 992px) {
  .faqDiv .faqList {
    max-width: 100%;
  }
}

.contactUsContainner {
  background-color: #343a45;
  color: white;
}
.contactUsContainner .contactUsSection {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}
.contactUsContainner .contactUsSection h3 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.contactUsContainner .contactUsSection h3 span {
  color: #C79952;
}
.contactUsContainner .contactusDiv {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .contactUsContainner .contactusDiv {
    flex-direction: column;
    gap: 30px;
  }
}
.contactUsContainner .contactusDiv .contactUsLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
@media (max-width: 992px) {
  .contactUsContainner .contactusDiv .contactUsLeft {
    width: 80%;
    margin: auto;
  }
}
.contactUsContainner .contactusDiv .contactUsLeft img {
  max-width: 400px;
  width: 95%;
}
.contactUsContainner .contactusDiv .contactUsLeft p {
  max-width: 450px;
  text-align: center;
}
.contactUsContainner .contactusDiv .contactUsRight {
  width: 50%;
  display: flex;
  justify-content: end;
}
@media (max-width: 992px) {
  .contactUsContainner .contactusDiv .contactUsRight {
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 576px) {
  .contactUsContainner .contactusDiv .contactUsRight {
    width: 100%;
    justify-content: center;
  }
}
.contactUsContainner .contactusDiv .contactUsRight .contactForm {
  width: 70%;
  border: 1px solid white;
  padding: 20px 40px;
  border-radius: 20px;
}
@media (max-width: 1200px) {
  .contactUsContainner .contactusDiv .contactUsRight .contactForm {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .contactUsContainner .contactusDiv .contactUsRight .contactForm {
    width: 100%;
  }
}
.contactUsContainner .contactusDiv .contactUsRight .contactForm form {
  display: flex;
  flex-direction: column;
}
.contactUsContainner .contactusDiv .contactUsRight .contactForm form input,
.contactUsContainner .contactusDiv .contactUsRight .contactForm form textarea {
  background: transparent;
  border: 1px solid white;
  padding: 12px;
  border-radius: 10px;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}

.dashboard_container {
  display: flex;
}
@media (max-width: 768px) {
  .dashboard_container {
    flex-direction: column;
  }
}
.dashboard_container .sidebar_section {
  background-color: #43484B;
  width: 15vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (max-width: 1200px) {
  .dashboard_container .sidebar_section {
    width: 20vw;
  }
}
@media (max-width: 992px) {
  .dashboard_container .sidebar_section {
    width: 25vw;
  }
}
@media (max-width: 768px) {
  .dashboard_container .sidebar_section {
    min-height: 100%;
    width: 100%;
    flex-direction: row;
  }
}
.dashboard_container .sidebar_section .dashboardLogo {
  width: 80%;
  margin: 40px auto;
}
.dashboard_container .sidebar_section .dashboardLogo img {
  width: 100%;
}
@media (max-width: 768px) {
  .dashboard_container .sidebar_section .dashboardLogo {
    width: 40%;
    margin: 20px auto;
  }
  .dashboard_container .sidebar_section .dashboardLogo img {
    width: 100%;
  }
}
.dashboard_container .sidebar_section .dashboard_links ul li .navLink_bg {
  background-color: #C79952;
  color: white;
  padding: 17px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
@media (max-width: 768px) {
  .dashboard_container .sidebar_section .dashboard_links ul li .navLink_bg {
    color: white;
  }
}
.dashboard_container .sidebar_section .dashboard_links ul li .navLink_trans {
  background-color: transparent;
  color: white;
  padding: 17px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
@media (max-width: 768px) {
  .dashboard_container .sidebar_section .dashboard_links ul li .navLink_trans {
    color: rgb(59, 57, 57);
  }
}
@media (max-width: 768px) {
  .dashboard_container .sidebar_section .dashboard_links ul li span span {
    display: none;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .dashboard_container .sidebar_section .dashboard_links ul li span {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .dashboard_container .sidebar_section .dashboard_links ul li svg {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 768px) {
  .dashboard_container .sidebar_section .dashboard_links ul {
    padding: 0px 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #C79952;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .dashboard_container .sidebar_section .dashboard_links {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
  }
}
.dashboard_container .sidebar_section .dashboard_credits {
  background-color: #C79952;
  padding: 17px 17px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
@media (max-width: 768px) {
  .dashboard_container .sidebar_section .dashboard_credits {
    display: none;
  }
}
.dashboard_container .sidebar_section .dashboard_credits :first-child {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}
.dashboard_container .sidebar_section .dashboard_credits .buyCreditBtn {
  width: 100%;
  background: white;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
.dashboard_container .dashboardPages {
  background-color: #343a45;
  color: white;
  width: 100%;
  padding: 40px;
}
.dashboard_container .dashboardPages .myAccountDiv {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
.dashboard_container .dashboardPages .myAccountDiv button {
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 17px;
}
.dashboard_container .dashboardPages .myAccountDiv .logout_btn {
  cursor: pointer;
  margin-top: 10px;
  background-color: #C79952;
  padding: 10px;
  border-radius: 10px;
}/*# sourceMappingURL=index.css.map */